body {
    background: #e5e6f0;
    color: #062c2a;
    font-family: "Martel sans", sans-serif;
    text-align: center;}

ul {width: 300px;
    margin-left: 756px;}

.one, .two, .three, .four {background-color: #068D9D;
    height: 20px;
    padding: 5px 1.4px;
    margin: 10px 0px;
    border: none;
    border-radius: 5%;}

.s-one {background-color: #068D9D;
    height: 20px;
    padding: 5px 1.4px;
    margin: 10px 0px;
    border: none;
    border-radius: 5%;}

.s-two {background-color: #068D9D;
    height: 30px;
    padding: 10px 1.4px 16px;
    margin: 10px 0px;
    border: none;
    border-radius: 3.5%;
    }

ol {width: 1000px;
    margin-left: 400px;}

h2{margin: 25px 0px 15px}

h3{margin-top: 1.6em;}

h4{margin-top: 2em;}

button {background-color: hsl(215, 80%, 88%);
font-size: 16px;
height: 30px;
width: 80px;
margin-top: 20px;
margin-bottom: 20px;
border-color: hsl(226, 14%, 69%);
border-radius: 10%;}

button:hover {background-color: hsl(215, 45%, 75%);}