body {
    background: #e5e6f0;
    color: #062c2a;
    font-family: "Martel sans", sans-serif;
    text-align: center;}

h1 {background-color: hsl(215, 80%, 88%);
    height: 30px;
    width: 500px;
    padding: 5px 1.4px 10px;
    margin: 30px 680px 10px;}

img {margin: 0px 705px 0px 680px;}

h2 {height: 30px;
    width: 180px;
    padding: 10px;
    margin: 25px 0px 15px 830px;}

h2, h3, h4 {background-color: hsl(215, 80%, 88%);}

ul {width: 300px;
    margin-left: 756px;}

.one, .two, .three, .four {background-color: hsl(215, 80%, 88%);
    height: 20px;
    padding: 5px 1.4px;
    margin: 10px 0px;
    border: none;
    border-radius: 5%;}

ol {width: 1000px;
    margin-left: 400px;}

.s-one {background-color: hsl(215, 80%, 88%);
    height: 20px;
    padding: 5px 1.4px;
    margin: 10px 0px;
    border: none;
    border-radius: 5%;}

.s-two {background-color: hsl(215, 80%, 88%);
    height: 30px;
    padding: 10px 1.4px 16px;
    margin: 10px 0px;
    border: none;
    border-radius: 3.5%;}

.para {background-color: hsl(215, 80%, 88%);
    height: 25px;
    width: 1300px;
    padding: 0.8px 1.4px 40px;
    margin: 10px 0px 10px 310px;
    border: none;
    border-radius: 5%;}

button {background-color: hsl(215, 80%, 88%);
font-size: 16px;
height: 30px;
width: 80px;
margin-top: 40px;
margin-bottom: 20px;
border-color: hsl(226, 14%, 69%);
border-radius: 10%;}

button:hover {background-color: hsl(215, 45%, 75%);}