body {
    background: #e5e6f0;
    color: #062c2a;
    font-family: "Martel sans", sans-serif;
    text-align: center;}

h1 {background-color: hsl(215, 80%, 88%);
    height: 30px;
    width: 500px;
    padding: 5px 1.4px 10px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    left: 680px;
    right: 100px;
}

img {height: 450px; 
    width: 750px;
    border: 8px solid hsl(215, 80%, 88%);
    border-radius: 10px;
    position: relative;
    left: -8px;
    right: 100px;}

h2 {height: 30px;
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 25px 0px 15px;
    position: relative;
    left: 844px;
    right: 100px;}

p {background-color: hsl(215, 80%, 88%);
    height: 25px;
    width: 1155px;
    padding-top: 10px;
    padding-bottom: 3px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    position: relative;
    left: 359px;
    right: 0px;}

h3 {height: 25px;
    width: 160px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin: 40px 0px 15px;
    position: relative;
    left: 859px;
    right: 100px;}

li {background-color: hsl(215, 80%, 88%);
    padding: 4px 8px;
    border-radius: 8px;
    margin: 8px 0px;}    

h4 {height: 20px;
    width: 140px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    margin: 40px 0px 15px;
    position: relative;
    left: 872px;
    right: 100px;}

ol li {border-radius: 6px;}

h2, h3, h4 {background-color: hsl(215, 80%, 88%);}

ul{width: 220px;
    margin-left: 798px;}

ol {width: 1200px;
    margin-left: 308px;}

button {background-color: hsl(215, 80%, 88%);
    font-size: 16px;
    height: 30px;
    width: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-color: hsl(226, 14%, 69%);
    border-radius: 10%;
    position: relative;}

button:hover {background-color: hsl(215, 45%, 75%);}