* {padding: 0;
margin: 0;
box-sizing: border-box;}

body {
    background: #e5e6f0;
    color: #062c2a;
    font-family: "Martel sans", sans-serif;
    text-align: center;}

.main {display: block;}

a:hover {color: hsl(283, 46%, 49%)}

ul{height: auto;
width: 100px;}

li{margin-left: 910px;}

h1 {background-color: hsl(215, 80%, 88%);
    width: 300px;
    height: 100px;
    padding: 1em 0em;
    margin: 1em 25.4em 1em;
}

.two {
background-color: hsl(215, 80%, 88%);
height: 7em;
width: 7em;
border: none;
border-radius: 25%;
margin: 8.2em 56.5em 0em;
}

.three {
background-color: hsl(215, 80%, 88%);
height: 7em;
width: 7em;
border: none;
border-radius: 25%;
margin: 8.65em 56.5em 0em;
}

.main {color: hsl(220, 70%, 60%);
    background-color: hsl(215, 80%, 88%);
    height: 7em;
    width: 7em;
    border: none;
    border-radius: 25%;}

.queso {
padding-top: 2.9em;
margin: 100px -100px 100px 0px;}

.pizza {
padding: 2.5em 1em 0em;
margin: 10px -100px 100px 0px;}

.lemon {
padding-top: 2.2em;
margin: 10px -100px 200px 0px;}

/* Change bg color and possibly hover color */
/* Make home <a> in all recipe htmls look button like. */
/* Center list dot two and three. alos 23.8 em for .three*/