* {padding: 0;
margin: 0;
box-sizing: border-box;}

body {
    background: #e5e6f0;
    color: #062c2a;
    font-family: "Martel sans", sans-serif;
    text-align: center;}

.main {display: block;}

a:hover {color: hsl(283, 46%, 49%)}

h1 {background-color: hsl(215, 80%, 88%);
    width: 300px;
    height: 100px;
    padding: 1em 0em;
    margin: 1em 25.4em 1em;
}

.main {color: hsl(220, 70%, 60%);
    background-color: hsl(215, 80%, 88%);
    height: 7em;
    width: 7em;
    border: none;
    border-radius: 25%;}

.queso {
padding-top: 2.9em;
margin: 100px -100px 100px 910.4px;}

.pizza {
padding: 2.5em 1em 0em;
margin: 10px -100px 100px 910.4px;}

.lemon {
padding-top: 2.2em;
margin: 10px -100px 100px 910.4px;}

.m-one, .m-two, .m-three {background-color: #062c2a;
    height: 5px;
    width: 10px;}

.m-one {margin: -580px 10px 1px 850px;}

.m-two, .m-three {margin: 206px 1px 1px 850px;}